@model Slide09.Models.Post

@{
//Layout = null;
}

@using (Html.BeginForm())
{
    <h2>Create New Post</h2>
    @Html.ValidationSummary()
    <div>
        @Html.LabelFor(model => model.Title)
        @Html.EditorFor(model => model.Title)
        @Html.ValidationMessageFor(model => model.Title)
    </div>
    <div>
            @Html.LabelFor(model => model.Content)
            @Html.EditorFor(model => model.Content)
            <input type="submit" name="button" />
    </div>

}
