@model Slide09.Models.Post

@{
    ViewBag.Title = "Details";    
}

<h2>Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)            
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)            
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)            
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)            
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostId)            
        </dd>


    </dl>
</div>
<p>    
    @Html.ActionLink("Back to the Posts :)", "Index")
</p>
